<div class="card">
    <div class="card-header">
  
     <a  class="btn btn-success" routerLink="/add-secretaria/">Agregar nuevo secretaria</a>
    </div>
    <div class="card-body">
      <h2>Lista secretarias</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>CODIGO contrato</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let secretaria of secretarias; let iControl=index">
            <td>{{secretaria.id_secretaria}}</td>
            <td>{{secretaria.nombre}}</td>
            <td>{{secretaria.id_contratos}}</td>
            <td>
               <a  class="btn btn-info" routerLink="/edit-secretaria/{{secretaria.id_secretaria}}">Editar</a>
              <a  class="btn btn-danger" (click)=" deletesecretaria(secretaria.id_secretaria,iControl)" role="button">Borrar</a> 
            </td>
          </tr>
        </tbody>
      </table>
  
  </div>
  