<div class="card">
  <div class="card-header">
    Editar empleado
  </div>
  <div class="card-body">
    <form ngNativeValidate [formGroup]="formtipo_documento" (ngSubmit)="enviarDatos()">
   <div class="mb-3">
     <label for="" class="form-label">tipo_documento</label>
     <input required type="text"
       class="form-control" name="" id="" formControlName="tipo_documento" aria-describedby="helpId" placeholder="Escribe tu nombre">
   </div>

  <div class="btn-group" role="group" aria-label="">
    <button type="submit" class="btn btn-warning">Modificar registro</button>
    <button type="button" routerLink="/list-tipo_documento/" class="btn btn-primary">Cancelar</button>
  </div>
  </form>
</div>

