<div class="card">
    <div class="card-header">
      Editar empleado
    </div>
    <div class="card-body">
      <form ngNativeValidate [formGroup]="formpersona" (ngSubmit)="enviarDatos()">
     <div class="mb-3">
       <label for="" class="form-label">persona</label>
       <input required type="text"
         class="form-control" name="" id="" formControlName="documento" aria-describedby="helpId" placeholder="Ingrese un nombre">

         <input required type="text"
         class="form-control" name="" id="" formControlName="nombre" aria-describedby="helpId" placeholder="Ingrece la descripcion">
         <input required type="text"
         class="form-control" name="" id="" formControlName="apellido" aria-describedby="helpId" placeholder="escriba la ruta de ruta_almacenamiento">
         <input required type="date"
         class="form-control" name="" id="" formControlName="sexo" aria-describedby="helpId" placeholder="Ingrece el año de contrato">
         <input required type="text"
         class="form-control" name="" id="" formControlName="telefono" aria-describedby="helpId" placeholder="Escribe el cdp">
         <input required type="text"
         class="form-control" name="" id="" formControlName="correo" aria-describedby="helpId" placeholder="Escribe el cdp">
       
         <input required type="date"
         class="form-control" name="" id="" formControlName="id_cargo" aria-describedby="helpId" placeholder="Ingrece el año de contrato">
         <input required type="text"
         class="form-control" name="" id="" formControlName="id_rol" aria-describedby="helpId" placeholder="Escribe el cdp">
         <input required type="text"
         class="form-control" name="" id="" formControlName="id_carga_persona" aria-describedby="helpId" placeholder="Escribe el cdp">
       
         <input required type="text"
         class="form-control" name="" id="" formControlName="id_tipo_documento" aria-describedby="helpId" placeholder="Escribe el cdp">
      



          <input required type="text"
         class="form-control" name="" id="" formControlName="password" aria-describedby="helpId" placeholder="Escribe el cdp">
       
          
          
     </div>
    </form>
  </div>
 
  