<div class="card">
    <div class="card-header">
      Editar empleado
    </div>
    <div class="card-body">
      <form ngNativeValidate [formGroup]="formpermisos" (ngSubmit)="enviarDatos()">
     <div class="mb-3">
       <label for="" class="form-label">permisos</label>
       <input required type="text"
         class="form-control" name="" id="" formControlName="nombre" aria-describedby="helpId" >
         <input required type="text"
         class="form-control" name="" id="" formControlName="id_contratos" aria-describedby="helpId" >
     </div>
    <div class="btn-group" role="group" aria-label="">
      <button type="submit" class="btn btn-warning">Modificar registro</button>
      <button type="button" routerLink="/List-permisos/" class="btn btn-primary">Cancelar</button>
    </div>
    </form>
  </div>
 
