<div class="card">
    <div class="card-header">
      Registrar secretaria
    </div>
    <div class="card-body">
      <form ngNativeValidate [formGroup]="formSecretaria" (ngSubmit)="enviarDatos()">
     <div class="mb-3">
       <label for="" class="form-label">secretaria</label>
       <input required type="text"
         class="form-control" name="" id="" formControlName="nombre" aria-describedby="helpId" placeholder="Escribe nombre de la secretaria">
          <select  class="form-control" formControlName="id_contratos">
            <option>Selecionar</option>
            <option *ngFor="let item of listContratos" [ngValue]="item.id_contratos">
              {{item.objeto}}
            </option>
          </select>
     </div>
     <div class="btn-group" role="group" aria-label="">
        <button type="submit" class="btn btn-success">Agregar</button>
        <button type="button" routerLink="/list-secretaria/" class="btn btn-primary">Cancelar</button>
      </div>
    </form>
  </div>